@import url("https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
}
@layer base {
  :root {
    --radius: 0.75rem;
    --text-color-default: #1e1e1e;
    --linear-gradient-background: 90deg, #5492fd 0%, #f27ec4 51.04%,
      #a599ed 100%;
    --orange-primary: #e03c31;
    --text-primary: #1e1e1e;
    --gray-primary: #fafafa;
    --border-color: #ADADAD;
    --google-button-background:#E9F1FF;
    --hover-orange-primary:rgb(224, 60, 49, 0.75) ;
  }
}

@layer base {
  body {
    @apply text-base text-default;
  }
}
